@charset "UTF-8";

@charset "UTF-8";

html, body {
  margin: 0;
  padding: 0;
}
.menu-nav {
  display: flex;
  justify-content: space-between; /* 左と右に分ける */
  align-items: center;
  list-style: none;
  margin: 0;
  padding:10px 10px;
 
  background-color: rgb(29, 29, 29);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* ← 影を追加 */
}

.menu-nav li {
  margin-left: 20px;
}

.menu-nav li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

/* 右側のメニューをまとめて右に寄せる */
.menu-right {
  display: flex;
  gap: 20px;
}

